@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --primary-color-default: #FFCBCB;
    --primary-color-dark: #FB2323;
    --primary-color-light: #FFEEEA;

    --primary-color-default-hover: #ffbdbd;

    --secondary-color-default: #363636;
    --secondary-color-light: #F3DEDE;

    --secondary-color-default-hover: #545454;

    --accent-color1: #76A66D;
    --accent-color1-hover: #7CBD6F;

    --neutral-dark-color: #000000;
    --neutral-light-color: #fff;
    --neutral-grey-color: #95A5A6;

    --shadow-color: #c1c1c1;
    --nav-bottom-border-color: rgb(216, 216, 216);
    --nav-height: 65px;
    
    color: var(--neutral-dark-color);
    font-family: "Roboto", sans-serif;
}

*{
    border: 0;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6, .header-description{
    font-family: "Quicksand", sans-serif;
}

h1{
    font-size: 3.5em;
}

h2{
    font-size: 2.3em;
}

h3{
    font-size: 1.75em;
}

.header-description{
    font-size: 1.5em;
    font-weight: 600;
}

.accent1{
    color:var(--accent-color1)
}

.accent2{
    color:var(--primary-color-dark)
}

input[type=text],input[type=email],textarea,select{
    border-width: 1px;
    border-color: var(--neutral-grey-color);
    border-style: solid;
    border-radius: 1em;
    
    padding: 10px 10px 10px 10px;
}

/*
    OTHER PAGE CLASSES
*/

.secondary-btn, .primary-btn, .tertiary-btn{
    transition: all .2s ease-in-out;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    cursor: pointer;
} 

.secondary-btn{
    background-color: var(--secondary-color-default);
    color: var(--neutral-light-color);
} 

.primary-btn{
    background-color: var(--accent-color1);
    color: var(--neutral-light-color);
}

.tertiary-btn{
    background-color: var(--neutral-light-color);
    color: var(--neutral-dark-color);
}

.secondary-btn:hover{
    background-color: var(--secondary-color-default-hover);
}

.primary-btn:hover{
    background-color: var(--accent-color1-hover);
}

.shadow-effect{
    box-shadow: 4px 4px 5px #c1c1c1;
}

.top-border{
    border-top-left-radius: 3.5em;
    border-top-right-radius: 3.5em;

    background-color: var(--primary-color-light);
}

.bottom-border{
    border-bottom-left-radius: 3.5em;
    border-bottom-right-radius: 3.5em;

    background-color: var(--primary-color-light);
}

.sub-header-holder{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
}

/*
    NAV
*/

#main-nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

    top: 0;
    width: 100%;
    z-index: 999;
    height: var(--nav-height); 

    background-color: var(--neutral-light-color);
    border-bottom-width: 1px;
    border-bottom-color: var(--nav-bottom-border-color);
    border-bottom-style: solid;
}

#main-nav > figure{
    width: 55px;
    height: 55px;
    margin-left: 100px; 
}

#main-nav > figure > img{
    height: 100%;
    width: 100%;
    border-radius: 12px;
}

#main-nav > ul{ 
    display: flex;
    justify-content: flex-end;
    height: min-content;
    flex-grow: 1; 
}

#main-nav > ul > li{
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding: 0 10px 0 10px;
}

#main-nav > .pc-nav > li:last-child{
    margin-right: 110px;
}

#main-nav > .mobile-nav > li:last-child{
    margin-right: 75px;
}

#main-nav > ul > li > a:not(.primary-btn){
    text-decoration: none;
    color: black;
    transition: .2s all ease-in-out;
}

#main-nav > ul > li > a:not(.primary-btn):hover{
    color: var(--primary-color-dark);
}

.nav-selected{
    background-color: var(--primary-color-light);
    border-radius: 1em;
}

#main-nav > .mobile-nav{
    display: none;
}

#main-nav > .pc-nav{
    display: inline-flex;
}

.burger-menu-icon{
    width: 30px;
    height: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    cursor: pointer;
}

.burger-menu-icon span{
    display: inline-block;
    background-color: var(--secondary-color-default);
    width: 100%;
    height: 3px;
    border-radius: 1em;
    z-index: 999999;
}

#hamburger-menu-nav{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 998;
    pointer-events: none;

    top: 0;
    left: 0;
}

#hamburger-menu-nav > ul{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    pointer-events: all;

    height: calc(100% - var(--nav-height));
    width: 100%;

    margin-top: var(--nav-height);
    gap: 20px;

    background-color: var(--primary-color-default);
}

#hamburger-menu-nav > ul > li > a{
    display: block;
    width: 200px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

#menu-toggle{
    display: none;
}

#menu-toggle:checked ~ ul{
    display: flex;
}

/*
    FOOTER
*/

footer{
    text-wrap: nowrap;
    height: 140px;
    background-color: var(--secondary-color-default);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-wrap: wrap;
}

footer *{
    list-style-type: none;
}

footer > p{
    text-align: center;
    color: var(--neutral-light-color);
}

#footer-social-media-list{
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-social-media-list > li > a > img{
    width: 35px;
    height: auto;
    margin: 0 10px 0 10px;
    border-radius: 10px;
}

#footer-txt-list{
    width: max-content;
    display: flex;
    flex-direction: column;
}

#footer-txt-list > li{
    margin-top: 8px;
    margin-bottom: 8px;
}

#footer-txt-list > li > a{
    display: flex;
    justify-items: center;
    
    color: var(--neutral-light-color);
    text-decoration: none;
    list-style: none;
}

/*
    HEADER
*/

header{
    position: relative;

    /*
        Z-index wont work without the position being relative due to image being absolute
    */

    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow:hidden;

    margin-top: var(--nav-height);
}

header > img{
    position: absolute;
    width: calc(100% + 310px);
    height: auto;
    z-index: -20;
    margin: auto;
    overflow-x: hidden;
}

header > h1,header > .header-description{
   color: var(--neutral-light-color); 
}

header > h1{
    text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px, rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px, rgb(0, 0, 0) 0.705713px 2.91581px 0px, rgb(0, 0, 0) -0.287171px 2.98622px 0px, rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px, rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px, rgb(0, 0, 0) -2.94502px -0.571704px 0px, rgb(0, 0, 0) -2.59586px -1.50383px 0px, rgb(0, 0, 0) -1.96093px -2.27041px 0px, rgb(0, 0, 0) -1.11013px -2.78704px 0px, rgb(0, 0, 0) -0.137119px -2.99686px 0px, rgb(0, 0, 0) 0.850987px -2.87677px 0px, rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px, rgb(0, 0, 0) 2.88051px -0.838247px 0px;
    /* 
        For some reason do some browsers not support text strokes so I had to implement this workaround text shadow trick
    
        -webkit-text-stroke: .11em var(--neutral-dark-color); 
        What I previously used to get the text stroke right ^
    */
}

header > .header-description{
    text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;}

/*
    ABOUT US
*/

.article-panel{
    height: max-content;
    display: flex;
    padding-bottom: 30px;
}

.article-panel > aside{
    flex-grow: 1;

    display: flex;
    align-items: center;
}

.article-panel.left > aside{
    order: 2;
    justify-content: left;
}

.article-panel.right > aside{
    justify-content: right;
}

.article-panel > aside > img{
    width: auto;
    height: 300px;
    border-radius: 1em;
    margin: 20px;
}

.article-panel > article{
    flex-basis: 60%;
}

.article-panel > article > p,.sub-header-holder{
   width: 80%;
   max-width: 600px; 
}

.article-panel.left > article > *{
    margin-left: auto;
    margin-right: 50px;
}

.article-panel.right > article > *{
    margin-left: 50px;
}

.article-panel > article > p{
    margin-top: 20px;
}

.article-panel > article > .primary-btn{
    display: inline-block;
    margin-top: 20px;
}

/*
    SALES
*/

#sales-holder{
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    overflow-y: hidden;
    padding-bottom: 10px;

    gap: 25px;
}

#sales-holder > figure{
    flex-shrink: 0;
    background-color: var(--primary-color-default);
    width: 220px;
    border-radius: .8em;
    padding: 15px 0 15px 0;

    display: flex;
    flex-direction: column;
    gap: 10px;

    word-break: break-all;
}

#sales-holder > figure > img{
    width: 85%;
    height: auto;
    align-self: center;
    border-radius: .8em;
}

#sales-holder > figure > *:not(img){
    margin-left: 15px;
    width: calc(100% - 30px);
}

#sales-section > .primary-btn{
    display: block;
    width: max-content;
    margin: auto;
    margin-top: 40px;
}

#sales-holder > figure{
    letter-spacing: 0.01em;
    line-height: 1.5em;
    text-indent: 0;
    word-spacing: .1em;
}

/*
    HOME TRUCKS
*/

#home-trucks-section{
    height: max-content;
    padding-bottom: 30px;
}

#home-trucks-section > .sub-header-holder{
    padding-top: 40px;
}

#home-trucks-holder{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    gap: 15px;
}

#home-trucks-holder > figure {
    width: 390px;
    margin-top: 30px;
    border-radius: 1em;
    display: flex;
    background-color: var(--primary-color-default);
}

#home-trucks-holder > figure > aside{
    flex-basis: 50%;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

#home-trucks-holder > figure > aside > img{
    border-radius: .8em;
    display: block;
    width: 82.5%;
    height: auto;
    margin: 30px 0 30px 0;
}

#home-trucks-holder > figure > article{
    flex-grow: 1;
}

#home-trucks-holder > figure > article > strong{
    display: block;
    margin-top: 30px;
}

.loc-p{
    margin-top: 10px;
}

.loc-p span{
    display: block;
}

.time-p{
    margin-top: 10px;
}

.time-p em{
    display: block;
    color: var(--accent-color1);
}

#home-trucks-section > .primary-btn{
    display: block;
    width: max-content;
    margin: auto;
    margin-top: 40px;
}

/*
    WORK
*/

#work-section{
    height: 250px;
    background-color: var(--secondary-color-light);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#work-section > .secondary-btn{
    margin-top: 20px;
}

/*    
    MENU
*/

#menu{
    margin-top: 50px;
    background-color: var(--primary-color-light);
    display: flex;
    padding-bottom: 100px;
}

#menu > *{
    margin-top: 40px;
}

#menu-filters{
    flex-basis: 275px;
    flex-shrink: 0;
}

#menu-filters > figure{
    width: 220px;
    margin: auto;
    background-color: var(--neutral-light-color);
    border-radius: 1em;
}

#menu-filters > figure > ul{
    display: flex;
    flex-direction: column;
}

#menu-filters > figure > ul > li{
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 15px;
    list-style: none;
}

#main-menu-holder{
    flex-grow: 1;
}

#main-menu-holder > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
}

#menu-search-bar-parent{
    flex-basis: 100%;
    border-radius: 3em;
    text-align: center;
}

#menu-search-bar{
    width: 300px;
}

#products-holder{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 50px;
}

#products-holder > figure{
    flex-shrink: 0;
    width: 240px;
    background-color: var(--neutral-light-color);
    border-radius: 1em;
}

#products-holder > figure > img{
    display: block;
    width: 80%;
    height: auto;
    margin: auto;

    margin-top: 25px;
    margin-bottom: 10px;
    border-radius: 1em;
}

#products-holder > figure > figcaption{
    text-indent: 1em;
    padding-bottom: 10px;
}

#products-holder > figure > figcaption > p{
    line-height: 25px;
}

/*
    TRUCKS
*/

#trucks {
    padding-top: 40px;
    padding-bottom: 40px;
}

#truck-holder > section{
    margin-bottom: 80px;
    height: max-content;
    display: flex;
}

#truck-holder > section > article{
    flex-basis: 55%;
    flex-shrink: 0;
    
    display: flex;
    align-items: last baseline;
    justify-content: end;
}

#truck-holder > section > article > figure{
    display: flex;
    background-color: var(--primary-color-light);
    width: max-content;
    height: max-content;
    margin-right: 80px;

    padding: 20px 20px 20px 20px;
    border-radius: 1em;

    min-width: min-content;
    text-wrap: nowrap;
    text-indent: 1em;
    line-height: 1.4em;
}

#truck-holder > section > article > figure > aside{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#truck-holder > section > article > figure > aside > img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 1em;
}

#truck-holder > section > article > figure > article{
    flex-grow: 1;
}

#truck-holder > section > article > figure > figcaption > h4{
    font-size: 1.5em;
    line-height: 2em;
}

#truck-holder > section > figure{
    flex-grow: 1;
    display: flex;
    justify-content: left;
    align-items: last baseline;
}

#truck-holder > section > figure > img{
    display: block;
    width: 73%;
    height: auto;
}

/*
    ABOUT US
*/

.two-images{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: max-content;
    flex-wrap: wrap;
    padding-bottom: 30px;

    gap: 5%;
}

.two-images > img{
    width: auto;
    height: 300px;
    border-radius: 1em;
    margin: 20px;
}

/*
    EMPLOYEES
*/

#employee-requirements-section{
    overflow: hidden;
    padding-bottom: 20px;
}

#employee-requirements{
    margin-top: 35px;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

#employee-requirements > article{
    flex-basis: 30%;
    max-width: 500px;
}

#employee-requirements > article > h4{
    font-size: 1.3em;
    line-height: 1.8em;
}

#employee-requirements > article > strong{
    font-size: 1.5em;
}

#employee-requirements-section > a{
    display: block;
    width: max-content;
    margin: auto;
    margin-top: 25px;
}

#quotes{
    overflow: hidden;
    padding-bottom: 80px;
}

#quotes-holder{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 70px;

    margin: auto;
}

#quotes-holder > figure{
    width: 350px;
    background-color: var(--neutral-light-color);
    text-wrap: wrap;
    flex-shrink: 0;
    
    border-radius: 1em;
    border-width: 2px;
    border-color: var(--accent-color1);
    border-style: solid;
    padding: 10px;
}

#quotes-holder > figure > strong{
    line-height: 1.2em;
    font-size: 1.3em;
}

#quotes-holder > figure > figure{
    margin-top: 12px;
    display: flex;
}

#quotes-holder > figure > figure > img{
    margin-right: 10px;
    width: 50px;
    height: auto;
    border-radius: 200em;
}

/*
    CONTACT
*/

header.contact-mode{
    height: max-content;
}

header.contact-mode > img{
    width: calc(100% + 1450px);
    height: auto;
}

header.contact-mode h1{
    margin-top: 100px;
}

#contact-form{
    width: 400px;
    background-color: var(--primary-color-light);
    margin-top: 60px;
    margin-bottom: 100px;
    padding: 12px 30px 12px 30px;
    border-radius: 1em;
}

#contact-form > fieldset > ul{
    max-width: 100%;
    /*
        WHY DOES TEXTAREA BREAK THIS WHEN I DONT USE PX?
    */
}

#contact-form > fieldset > ul > li{
    list-style: none;
    margin: auto;
    margin-top: 15px;
}

#contact-form > fieldset > ul > li > *{
    display: block;
    margin-bottom: 5px;
}

#contact-form input[type=text], #contact-form input[type=email], #contact-form textarea {
    width: calc(100% - 2em);
    padding-left: 0;
    padding-right: 0;
    padding: 1em;
}

#contact-form select{
    width: 50%;
}

#contact-form textarea{
    height: 120px;
    max-height: 500px;
    resize: vertical;
}

#contact-form input[type=submit]{
    width: 100%;
}

/*
    RESPONSIVENESS
*/

@media screen and (min-width: 900px){
    
    /*
        NAV
    */

    #hamburger-menu-nav{
        display: none;
    }
}

@media screen and (max-width: 900px){

    /*
        NAV
    */

    #main-nav > .pc-nav{
        display: none;
    }
    #main-nav > .mobile-nav{
        display: inline-flex;
    }

    /*
        FOOTER
    */

    footer{
        height: 200px;
    }

    #footer-social-media-list{
        order:2;
    }

    footer > p{
        flex-basis: 100%;
        order: 1;
    }

    #footer-txt-list{
        order: 3;
    }

    /*
        ARTICLE PANELS
    */

    .article-panel{
        flex-direction: column;
    }
    .article-panel.left > aside,.article-panel.right > aside {
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        order: 1;
    }
    .article-panel.left > article, .article-panel.right > article{
        width: 70%;
        margin: auto;
    }

    .article-panel.left > article > *,.article-panel.right > article > *{
        margin-left: 0;
        margin-right: 0;
    }

    .article-panel > article > p, .article-panel > article > .sub-header-holder{
        width: 100%;
    }

    /*
        MENU
    */

    #menu{
        flex-direction: column;
    }

    #menu-filters{
        flex-basis: max-content;
    }

    /*
        TRUCKS
    */

    #truck-holder > section{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: max-content;
    }

    #truck-holder > section > article{
        padding-bottom: 20px;
        align-items: left;
        justify-content: center;
    }

    #truck-holder > section > article > figure{
        margin: 0;
    }
    
    #truck-holder > section > figure{
        align-items: center;
        justify-content: center;
    }
    
    #truck-holder > section > figure > img{
        width: 70%
    }

    /*
        ARTICLE PANELS
    */

    .two-images{
        flex-direction: column;
    }

    /*
        EMPLOYEES
    */

    #employee-requirements{
        flex-direction: column;
        width: 80%;
        margin: auto;
    }
}