@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --primary-color-default: #FFCBCB;
    --primary-color-dark: #FB2323;
    --primary-color-light: #FFEEEA;

    --primary-color-default-hover: #ffbdbd;

    --secondary-color-default: #363636;
    --secondary-color-light: #F3DEDE;

    --secondary-color-default-hover: #545454;

    --accent-color1: #76A66D;
    --accent-color1-hover: #7CBD6F;

    --neutral-dark-color: #000000;
    --neutral-light-color: #fff;
    --neutral-grey-color: #95A5A6;

    --shadow-color: #c1c1c1;
    
    color: var(--neutral-dark-color);
    font-family: "Roboto", sans-serif;
}

*{
    border: 0;
    margin: 0;
    padding: 0;
}

img{
    width: 100px;
    height: 100px;
}

h1,h2,h3,h4,h5,h6, .header-description{
    font-family: "Quicksand", sans-serif;
}

h1{
    font-size: 3.5em;
}

h2{
    font-size: 2.3em;
}

h3{
    font-size: 1.75em;
}

.header-description{
    font-size: 1.5em;
    font-weight: 600;
}

.accent1{
    color:var(--accent-color1)
}

.accent2{
    color:var(--primary-color-dark)
}

input[type=text],input[type=email],textarea,select{
    border-width: 1px;
    border-color: var(--neutral-grey-color);
    border-style: solid;
    border-radius: 1em;
    
    padding: 10px 10px 10px 10px;
}

/*
    OTHER PAGE CLASSES
*/

.secondary-btn, .primary-btn, .tertiary-btn{
    transition: all .2s ease-in-out;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    cursor: pointer;
} 

.secondary-btn{
    background-color: var(--secondary-color-default);
    color: var(--neutral-light-color);
} 

.primary-btn{
    background-color: var(--accent-color1);
    color: var(--neutral-light-color);
}

.tertiary-btn{
    background-color: var(--neutral-light-color);
    color: var(--neutral-dark-color);
}

.secondary-btn:hover{
    background-color: var(--secondary-color-default-hover);
}

.primary-btn:hover{
    background-color: var(--accent-color1-hover);
}

.shadow-effect{
    box-shadow: 4px 4px 5px #c1c1c1;
}

.top-border{
    border-top-left-radius: 3.5em;
    border-top-right-radius: 3.5em;

    background-color: var(--primary-color-light);
}

.bottom-border{
    border-bottom-left-radius: 3.5em;
    border-bottom-right-radius: 3.5em;

    background-color: var(--primary-color-light);
}

.sub-header-holder{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
}

/*
    NAV
*/

body:nth-child(2){
    margin-top: 65px;
}

#main-nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

    top: 0;

    width: 100%;
    height: 65px; 
    border-bottom: 1px rgb(216, 216, 216) solid;
    background-color: var(--neutral-light-color);
    z-index: 9999;
}

#main-nav > figure{
    width: 55px;
    height: 55px;
    margin-left: 100px; 
}

#main-nav > figure > img{
    height: 100%;
    width: 100%;
    border-radius: 12px;
}

#main-nav > ul{ 
    display: flex;
    justify-content: flex-end;
    height: min-content;
    flex-grow: 1; 
}

#main-nav > ul > li{
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding: 0 10px 0 10px;
}

#main-nav > ul > li:last-child{
    margin-right: 120px;
}

#main-nav > ul > li > a:not(.primary-btn){
    text-decoration: none;
    color: black;
    transition: .2s all ease-in-out;
}

#main-nav > ul > li > a:not(.primary-btn):hover{
    color: var(--primary-color-dark);
}

.nav-selected{
    background-color: var(--primary-color-light);
    border-radius: 1em;
}

#main-nav > .mobile-nav{
    display: none;
}

#main-nav > .pc-nav{
    display: inline-flex;
}

.burger-menu-icon{
    width: 30px;
    height: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    margin-right: 50px;
    cursor: pointer;
}

.burger-menu-icon span{
    display: inline-block;
    background-color: var(--secondary-color-default);
    width: 100%;
    height: 3px;
    border-radius: 1em;
}

#hamburger-menu-nav{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 99999;
    pointer-events: none;
}

#hamburger-menu-nav > ul{
    display: none;
    background-color: #000000;
    pointer-events: all;
}

#menu-toggle{
    display: none;
}

#menu-toggle:checked ~ ul{
    background-color: aqua;
    display: block;
}

/*
    FOOTER
*/

footer{
    text-wrap: nowrap;
    height: 140px;
    background-color: var(--secondary-color-default);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > *{
    margin: 0 9% 0 9%
}

footer *{
    list-style-type: none;
}

footer > p{
    text-align: center;
    color: var(--neutral-light-color);
}

#footer-social-media-list{
    width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-social-media-list > li > a > img{
    width: 35px;
    height: auto;
    margin: 0 10px 0 10px;
    border-radius: 10px;
}

#footer-txt-list{
    width: 0;
    display: flex;
    flex-direction: column;
}

#footer-txt-list > li{
    margin-top: 8px;
    margin-bottom: 8px;
}

#footer-txt-list > li > a{
    display: flex;
    justify-items: center;
    
    color: var(--neutral-light-color);
    text-decoration: none;
    list-style: none;
}

/*

HEADER

*/

header{
    position: relative;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow:hidden;
}

header > img{
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -20;
    margin: auto;
    overflow-x: hidden;
}

header > h1,header > .header-description{
   color: var(--neutral-light-color); 
   paint-order: stroke fill;
}

header > h1{
    -webkit-text-stroke: .11em var(--neutral-dark-color);
}

header > .header-description{
    -webkit-text-stroke: .2em var(--neutral-dark-color);
}

/*

ABOUT US

*/

.article-panel{
    height: 400px;
    display: flex;
}

.article-panel > aside{
    flex-grow: 1;

    display: flex;
    align-items: center;
}

.article-panel.left > aside{
    justify-content: left;
}

.article-panel.right > aside{
    justify-content: right;
}

.article-panel > aside > img{
    width: auto;
    height: 85%;
    border-radius: 1em;
}

.article-panel > article{
    flex-basis: 60%;
}

.article-panel > article > p,.sub-header-holder{
   width: 65%; 
}

.article-panel.left > article > *{
    margin-left: auto;
    margin-right: 50px;
}

.article-panel.right > article > *{
    margin-left: 50px;
}

.article-panel > article > p{
    margin-top: 20px;
}

.article-panel > article > .primary-btn{
    display: inline-block;
    margin-top: 20px;
}

/*

SALES

*/

#sales-holder{
    display: flex;
    justify-content: center;
    align-items:baseline;
    gap: 13%;
}

#sales-holder > figure{
    background-color: var(--primary-color-default);
    width: 220px;
    border-radius: .8em;
    padding: 15px 0 15px 0;

    display: flex;
    flex-direction: column;
    gap: 10px;

    word-break:break-all;
}

#sales-holder > figure > img{
    width: 85%;
    height: auto;
    align-self: center;
    border-radius: .8em;
}

#sales-holder > figure > *:not(img){
    margin-left: 15px;
    width: calc(100% - 30px);
}

#sales-section > .primary-btn{
    display: block;
    width: max-content;
    margin: auto;
    margin-top: 40px;
}

#sales-holder > figure{
    letter-spacing: 0.01em;
    line-height: 1.5em;
    text-indent: 0;
    word-spacing: .1em;
}

/*

HOME TRUCKS

*/

#home-trucks-section{
    height: 435px;
}

#home-trucks-section > .sub-header-holder{
    padding-top: 40px;
}

#home-trucks-holder{
    display: flex;
    justify-content: center;
    gap: 3.5%;
}

#home-trucks-holder > figure {
    width: 390px;
    border-radius: 1em;
    display: flex;
    background-color: var(--primary-color-default);
}

#home-trucks-holder > figure > aside{
    flex-basis: 50%;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

#home-trucks-holder > figure > aside > img{
    border-radius: .8em;
    display: block;
    width: 82.5%;
    height: auto;
    margin: 30px 0 30px 0;
}

#home-trucks-holder > figure > article{
    flex-grow: 1;
}

#home-trucks-holder > figure > article > strong{
    display: block;
    margin-top: 30px;
}

.loc-p{
    margin-top: 10px;
}

.loc-p span{
    display: block;
}

.time-p{
    margin-top: 10px;
}

.time-p em{
    display: block;
    color: var(--accent-color1);
}

#home-trucks-section > .primary-btn{
    display: block;
    width: max-content;
    margin: auto;
    margin-top: 40px;
}

/*

WORK

*/

#work-section{
    height: 250px;
    background-color: var(--secondary-color-light);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#work-section > .secondary-btn{
    margin-top: 20px;
}

/*
    
MENU

*/

#menu{
    margin-top: 50px;
    background-color: var(--primary-color-light);
    display: flex;
    padding-bottom: 100px;
}

#menu > *{
    margin-top: 40px;
}

#menu-filters{
    flex-basis: 275px;
    flex-shrink: 0;
}

#menu-filters > figure{
    width: 80%;
    margin: auto;
    background-color: var(--neutral-light-color);
    border-radius: 1em;
}

#menu-filters > figure > ul{
    display: flex;
    flex-direction: column;
}

#menu-filters > figure > ul > li{
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 15px;
    list-style: none;
}

#main-menu-holder{
    flex-grow: 1;
}

#main-menu-holder > input{
    float: left;
    width: 275px;
    margin-left: 100px;
    border-radius: 3em;
}

#main-menu-holder > ul{
    float: right;
    display: flex;
    gap: 20px;
    list-style: none;
    margin-right: 100px;
}

#products-holder{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 75px;
}

#products-holder > figure{
    width: 240px;
    background-color: var(--neutral-light-color);
    border-radius: 1em;
}

#products-holder > figure > img{
    display: block;
    width: 80%;
    height: auto;
    margin: auto;

    margin-top: 25px;
    margin-bottom: 10px;
    border-radius: 1em;
}

#products-holder > figure > figcaption{
    text-indent: 1em;
    padding-bottom: 10px;
}

#products-holder > figure > figcaption > p{
    line-height: 25px;
}

/*

TRUCKS

*/

#trucks {
    padding-top: 40px;
    padding-bottom: 40px;
}

#truck-holder > section{
    margin-bottom: 80px;
    height: 300px;
    display: flex;
}

#truck-holder > section > article{
    flex-basis: 60%;
    flex-shrink: 0;
    min-width: min-content;
    text-wrap: nowrap;

    display: flex;
    align-items: last baseline;
    justify-content: end;

    text-indent: 1em;
    line-height: 1.4em;
}

#truck-holder > section > article > figure{
    display: flex;
    background-color: var(--primary-color-light);
    width: 60%;
    margin-right: 80px;

    padding: 20px 20px 20px 20px;
    border-radius: 1em;
}

#truck-holder > section > article > figure > aside{
    flex-basis: 27%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#truck-holder > section > article > figure > aside > img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 1em;
}

#truck-holder > section > article > figure > article{
    flex-grow: 1;
}

#truck-holder > section > article > figure > figcaption > h4{
    font-size: 1.5em;
    line-height: 2em;
}

#truck-holder > section > figure{
    flex-grow: 1;
    display: flex;
    justify-content: left;
    align-items: last baseline;
}

#truck-holder > section > figure > img{
    display: block;
    width: auto;
    height: 115%;
}

/*

ABOUT US

*/

.two-images{
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 7%;
    height: 400px;
}

.two-images > img{
    width: auto;
    height: 85%;
    border-radius: 1em;
}

/*

EMPLOYEES

*/

#employee-requirements-section{
    overflow: hidden;
    padding-bottom: 20px;
}

#employee-requirements{
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

#employee-requirements > article{
    flex-grow: 1;
    flex-basis: 0;

    margin-left: 3.5%;
    margin-right: 3.5%;
}

#employee-requirements > article > h4{
    font-size: 1.3em;
    line-height: 1.8em;
}

#employee-requirements > article > strong{
    font-size: 1.5em;
}

#employee-requirements-section > a{
    display: block;
    width: max-content;
    margin: auto;
    margin-top: 25px;
}

#quotes{
    overflow: hidden;
    padding-bottom: 80px;
}

#quotes-holder{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 70px;

    margin: auto;
}

#quotes-holder > figure{
    width: 350px;
    background-color: var(--neutral-light-color);
    text-wrap: wrap;
    flex-shrink: 0;
    
    border-radius: 1em;
    border-width: 2px;
    border-color: var(--accent-color1);
    border-style: solid;
    padding: 10px;
}

#quotes-holder > figure > strong{
    line-height: 1.2em;
    font-size: 1.3em;
}

#quotes-holder > figure > figure{
    margin-top: 12px;
    display: flex;
}

#quotes-holder > figure > figure > img{
    margin-right: 10px;
    width: 50px;
    height: auto;
    border-radius: 200em;
}

/*
    CONTACT
*/

header.contact-mode{
    height: 1100px;
}

header.contact-mode > img{
    width: 150%;
    height: auto;
}

#contact-form{
    width: 400px;
    background-color: var(--primary-color-light);
    margin-top: 60px;
    margin-bottom: 100px;
    padding: 12px 30px 12px 30px;
    border-radius: 1em;
}

#contact-form > fieldset > ul{
    width: 400px;
    /*
        WHY DOES TEXTAREA BREAK THIS WHEN I DONT USE PX?
    */
}

#contact-form > fieldset > ul > li{
    list-style: none;
    margin: auto;
    margin-top: 15px;
}

#contact-form > fieldset > ul > li > *{
    display: block;
    margin-bottom: 5px;
}

#contact-form input[type=text], #contact-form input[type=email], #contact-form textarea {
    width: calc(100% - 2em);
    padding-left: 0;
    padding-right: 0;
    padding: 1em;
}

#contact-form select{
    width: 50%;
}

#contact-form textarea{
    height: 120px;
}

#contact-form input[type=submit]{
    width: 100%;
}

/*
    RESPONSIVENESS
*/

@media screen and (min-width: 1000px){
    #hamburger-menu-nav{
        display: none;
    }
}

@media screen and (max-width: 1000px){
    #main-nav > .pc-nav{
        display: none;
    }
    #main-nav > .mobile-nav{
        display: inline-flex;
    }

    footer{
        display: none;
    }
}

@media screen and (max-width: 768px){

}