:root{
    --greenBtnColor: #1ba500;
}

*{
    border: 0;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

/*
    NAV
*/

nav{
    display: flex;
    align-items: center;
    justify-content: center;

    width: inherit;
    height: 70px; 
    margin-bottom: 70px;
    border-bottom: 1px rgb(207, 207, 207) solid; 
}

nav > a{
    width: 62px;
    height: 62px;
    margin-left: 100px; 
}

nav > a > img{
    height: 100%;
    width: 100%;
}

nav > ul{ 
    display: flex;
    justify-content: flex-end;
    height: min-content;
    flex-grow: 1; 
}

nav > ul > li{
    display: flex;
    align-items: center;
    margin-right: 30px;
}

nav > ul > li:last-child{
    margin-right: 130px;
}

nav > ul > li > a:not(.green-btn){
    text-decoration: none;
    color: black;
}

.green-btn{
    text-decoration: none;
    color: #fff;
    padding: 10px 20px 10px 20px;
    background-color: var(--greenBtnColor);
} 

/*
    FOOTER
*/

footer{
    height: 140px;
    background-color: rgb(63, 69, 71);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > *{
    margin: 0 9% 0 9%
}

footer *{
    list-style-type: none;
}

footer > p{
    text-align: center;
    color:#e2e2e2;
}

#footerSocialMediaList{
    display: flex;
    align-items: center;
    justify-content: center;
}

#footerSocialMediaList > li > a > img{
    width: 45px;
    height: 45px;
}

#footerTxtList{
    display: flex;
    flex-direction: column;
}

#footerTxtList > li{
    margin-top: 8px;
    margin-bottom: 8px;
}

#footerTxtList > li > a{
    display: flex;
    justify-items: center;
    
    color:#e2e2e2;
    text-decoration: none;
    list-style: none;
}