:root{
    --primary-color-default: #FB2323;
    --primary-color-dark: #DE1818;
    --primary-color-light: #FFA7A7;

    --secondary-color-default: #FFDED6;
    --secondary-color-dark: #F1D1C9;
    --secondary-color-light: #FFEEEA;

    --accent-color1: #1EA604;
    --accent-color2: #FF0000;

    --text-color: #000000;
    
    font-family: Arial;
}

*{
    border: 0;
    margin: 0;
    padding: 0;
}

/*
    NAV
*/

body:nth-child(2){
    margin-top: 65px;
}

nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

    top: 0;

    width: 100%;
    height: 65px; 
    border-bottom: 1px rgb(216, 216, 216) solid;
    background-color: #fff;
}

nav > a{
    width: 55px;
    height: 55px;
    margin-left: 100px; 
}

nav > a > img{
    height: 100%;
    width: 100%;
    border-radius: 12px;
}

nav > ul{ 
    display: flex;
    justify-content: flex-end;
    height: min-content;
    flex-grow: 1; 
}

nav > ul > li{
    display: flex;
    align-items: center;
    margin-right: 30px;
}

nav > ul > li:last-child{
    margin-right: 130px;
}

nav > ul > li > a:not(.secondary-btn){
    text-decoration: none;
    color: black;
}

.secondary-btn{
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    background-color: var(--primary-color-light);
    border-radius: 15px;
    color: var(--text-color);
} 

/*
    FOOTER
*/

footer{
    text-wrap: nowrap;
    height: 140px;
    background-color: rgb(63, 69, 71);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > *{
    margin: 0 9% 0 9%
}

footer *{
    list-style-type: none;
}

footer > p{
    text-align: center;
    color:#e2e2e2;
}

#footer-social-media-list{
    width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-social-media-list > li > a > img{
    width: 40px;
    height: auto;
    margin: 0 12px 0 12px;
    border-radius: 10px;
}

#footer-txt-list{
    width: 0;
    display: flex;
    flex-direction: column;
}

#footer-txt-list > li{
    margin-top: 8px;
    margin-bottom: 8px;
}

#footer-txt-list > li > a{
    display: flex;
    justify-items: center;
    
    color:#e2e2e2;
    text-decoration: none;
    list-style: none;
}